<div class="header">
    <div>
        <button><a routerLink="/squad" routerLinkActive="active" ariaCurrentWhenActive="page">Squad</a></button>
        <button><a routerLink="/team" routerLinkActive="active" ariaCurrentWhenActive="page">PlayingXI</a></button>
        <button><a routerLink="/rules" routerLinkActive="active" ariaCurrentWhenActive="page">Rules</a></button>
        <button><a routerLink="/stats" routerLinkActive="active" ariaCurrentWhenActive="page">Stats</a></button>
        <button><a routerLink="/leaderboard" routerLinkActive="active" ariaCurrentWhenActive="page">Leaderboard</a></button>
    </div>
    <div class="title">2025 Fantasy League</div>
</div>