<div>
    <div class="row" [class.highlight]="this.index < 11">
        <div class="col">{{this.index + 1}}</div>
        <div class="col">{{this.player.name}}</div>
        <div class="col">{{this.player.type}}</div>
        <div class="col">{{this.player.isForeigner ? 'FOR' : 'IND'}}</div>
        <div class="col">
            <button (click)="moveUp()">⬆</button>
            <button (click)="moveDown()">⬇</button>
        </div>
    </div>
    <div class="second-row" [class.highlight]="this.index < 11">
        <div class="second-col">
            {{'(Tags: '+ 
            (this.player.isOpener ? ' Opening-batter' : '') + 
            (this.player.isMiddle ? ' Top/Middle-order-batter' : '') + 
            (this.player.isFinisher ? ' Finisher' : '') + 
            (this.player.isSpinner ? ' Spin-bowler' : '') + 
            (this.player.isFastBowler ? ' Fast-bowler' : '') + 
            (this.player.isNewball ? ' Newball-bowler' : '') + 
            (this.player.isDeath ? ' Death-bowler' : '') + 
            (this.player.isDependable ? ' Dependable-bowler' : '') + 
            ')'}}
        </div>
    </div>
</div>