<div class="rules-container">
    <section class="points-rules">
        <div class="heading">Game</div>
        <ul>
            <li>Your team should be able to chase the average score in IPL 2025</li>
            <li>Your team should be able to defend the average score in IPL 2025</li>
        </ul>
    </section>
    
    <section class="squad-rules">
        <div class="heading">Squad</div>
        <ul>
            <li>You need to select a <b>squad</b> with 120 crores. <b>Squad</b> selection will be locked on 13th March (start of the
                tournament).</li>
            <li>You need to select a minimum of 18 players and maximum of 25 players in the <b>squad</b>. Only 8 foreign
                players allowed in the <b>squad</b>.</li>
        </ul>
    </section>

    <section class="playingxi-rules"> 
        <div class="heading">PlayingXI</div>
        <ul>
            <li>You need to finalize your <b>playingXI</b> from your squad. <b>PlayingXI</b> will be locked after 35 matches.</li>
            <li>At the end of the tournament points will be calculated only based on the <b>playingXI</b>.</li>
            <li>You <b>playingXI</b> should adhere to the following rules to qualify for the leaderboard. 
                <ul>
                    <li>Maximum 4 Foreign players</li>
                    <li>Minimum 1 Wicket Keeper</li>
                    <li>Minimum 2 Opening batters</li>
                    <li>Maximum 3 Opening batters</li>
                    <li>Minimum 2 Top/Middle order batters</li>
                    <li>Minimum 2 Finishers</li>
                    <li>Minimum 2 Spin bowlers</li>
                    <li>Minimum 2 Fast bowlers</li>
                    <li>Minimum 2 Newball bowlers</li>
                    <li>Minimum 2 Death bowlers</li>
                    <li>Minimum 4 Dependable bowlers</li>
                    <li>Minimum 1 Dependable Spin bowler</li>
                    <li>Minimum 1 Dependable Fast bowlers</li>
                </ul>
            </li>
            <li>Only 4 foeigners allowed in the <b>playingXI</b>.</li>
        </ul>
    </section>

    The idea of the game is, you select your squad before the tournament, similar to an auction, and lock your XI after observing player performance in the first half of the tournament.

    <section class="tags-definitions" style="margin-top: 10px;">
        <div class="heading">Tags</div>
        <ul>
            <li><strong>Opening batter:</strong> A batsman who has opened in at least 10 matches by the end of the
                tournament.</li>
            <li><strong>Top/Middle batter:</strong> A batsman who batted at positions 3 or 4 in at least 10 matches
                by the end of the tournament.</li>
            <li><strong>Finisher:</strong> A batsman who batted at positions 5, 6 or 7 or was promoted to finish the innings in at
                least 10 matches by the end of the tournament.</li>
            <li><strong>Wicket keeper:</strong> A player responsible for wicketkeeping.</li>
            <li><strong>Spin bowler:</strong> A spin bowler.</li>
            <li><strong>Fast bowler:</strong> A fast bowler.</li>
            <li><strong>Newball bowler:</strong> A bowler who bowled the 1st or 2nd over in at least 10 matches by the
                end of the tournament.</li>
            <li><strong>Death bowler:</strong> A bowler who bowled the 19th or 20th over in at least 10 matches by the
                end of the tournament.</li>
            <li><strong>Dependable bowler:</strong> A bowler who bowled their at least 3 overs in at least 10
                matches by the end of the tournament.</li>
            <li><strong>Foreign player:</strong> A Foreign player</li>
        </ul>
    </section>

    <section>
        <div class="heading">Example</div>
        <ul>
            <li>Each player can have multiple tags and each tag would be counted.</li>
            <li><b>Ravindra Jadeja</b> - Finisher, Spin bowler, Dependable bowler</li>
            <li><b>Shreyas Iyer</b> - Top/Middle batter</li>
            <li><b>Jasprit Bumrah</b> - Fast bowler, Newball bowler, Death bowler, Dependable bowler</li>
            <li><b>Nitish Kumar Reddy - Finisher, Fast bowler (Only bowled 13.1 overs in 2024, so not tagged a dependable bowler)</b>
            <li>Above examples are based on previous season. Tags would depend on the stats from this season.</li>
        </ul>
    </section>

    <section class="points-rules">
        <div class="heading">Points</div>
        Coming soon!
    </section>
</div>