<div class="container">
    <div class="col">
        <app-auction-list-header></app-auction-list-header>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" placeholder="Search player..." [(ngModel)]="searchTerm">
        </div>
        <div class="col-two">
            <button (click)="toggleFilters()">Filter</button>
        </div>
        <div class="col-two">
            <select [(ngModel)]="sortBy">
                <option>Sortby Name</option>
                <option>Sortby Price</option>
            </select>
        </div>
    </div>
    <div *ngIf="filtersVisible" class="filters-box">
        <div class="filter-bar grid">
            <span *ngFor="let type of ['BAT', 'BOWL', 'AR', 'WKBAT', 'FOR', 'IND', 
            'Opening-batter', 'Top/Middle-order-batter', 'Finisher', 'Spin-bowler',
            'Fast-bowler', 'Newball-bowler', 'Death-bowler', 'Dependable-bowler']">
                <input type="checkbox" [value]="type" [checked]="selectedType.includes(type)"
                    (change)="onTypeChange($event)">
                {{type}}
            </span>
        </div>
        <h4 class="text-highlight">**Only retained players are tagged based on previous season performance just to show how tags would work. Tags will be updated based on the performances this season.</h4>
    </div>
    <div>
        <app-auction-item *ngFor="let player of data | playerFilter:searchTerm:sortBy:selectedType"
            [player]="player"></app-auction-item>
    </div>
</div>